{% include "header.html" %}

<header
  class="masthead"
  style="background-image: url('{{ url_for('static', filename='assets/img/post-bg.jpg') }}')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Create New Post</h1>
          <span class="subheading">Share something amazing</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">

      <form method="POST">
    {{ form.hidden_tag() }}

    {{ form.title.label }}
    {{ form.title(class="form-control") }}

    {{ form.subtitle.label }}
    {{ form.subtitle(class="form-control") }}

    {{ form.author.label }}
    {{ form.author(class="form-control") }}

    {{ form.img_url.label }}
    {{ form.img_url(class="form-control") }}

    {{ form.body.label }}
    {{ form.body(class="form-control") }}

    {{ form.submit(class="btn btn-primary mt-3") }}
</form>

    </div>
  </div>
</div>

{% include "footer.html" %}