{% include "header.html" %}


<header
  class="masthead"
  style="background-image: url('{{ url_for('static', filename='assets/img/post-bg.jpg') }}')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Create New Post</h1>
          <span class="subheading">Share something amazing</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">

      <form action="{{ url_for('add_new_post') }}" method="POST">

        <div class="form-group mb-3">
          <label>Title</label>
          <input type="text" name="title" class="form-control" required />
        </div>

        <div class="form-group mb-3">
          <label>Subtitle</label>
          <input type="text" name="subtitle" class="form-control" required />
        </div>

        <div class="form-group mb-3">
          <label>Author</label>
          <input type="text" name="author" class="form-control" required />
        </div>

        <div class="form-group mb-3">
          <label>Image URL</label>
          <input type="text" name="img_url" class="form-control" required />
        </div>

        <div class="form-group mb-3">
          <label>Content</label>
          <textarea name="body" class="form-control" rows="8" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">{{ form.submit(class="btn btn-primary") }}
</button>
      </form>

    </div>
  </div>
</div>

{% include "footer.html" %}
